body {
  width: 100%/*1170px*/;
  height: 100%/*2532px*/;
}

#logo, .menu, #menu {
  display: inline;
  width: 50px;
  height: 50px;
}

#logo, .menu, #menu, #main, #stay { /*position: fixed;*/ }

#logo { /*position: fixed;*/ }

#menu {
  float: right;
  padding-right: 10px;
}

#main {
  display: block;
  margin: auto;
  width: 90%;
  height: 485px;
}

@media only screen and (max-height: 735px) {
  #main {
    height: 575px;
  }
}

input[type="text"] {
  display: block;
  margin: auto;
  width: 90%;
  border-bottom: 2px double #000001;
}

input[type="text"]:focus {
  border: 2px solid #000001;
}

input[type="date"], input[type="submit"] {
  display: inline;
  width: 30%;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px double #000001;
}

input[type="text"], input[type="date"], input[type="submit"] {
  border-radius: 4pt;
}

#navigation {
  display: block;
  /* position: fixed;
  bottom: 15px;*/
  margin: auto;
  width: 372px;
}

.navItem {
  width: 65px;
  height: 65px;
  /*border: 2px double #0000e7;*/
}

#map {
  /* display: inline;*/
  margin: 0px;
  width: inherit !important;
  height: inherit !important;
}
