body {
  width: 100%/*1170px*/;
  height: 100%/*2532px*/;
  margin: auto;
  padding: 0 !important;
  /*background: lightgray;*/
}

header {
  width: 90%;
  margin: auto;
}

#logo, .menu, #menu {
  display: inline;
  width: 50px;
  height: 50px;
}

#logo-svg {
  width: 50px;
  height: 50px;
}

#logo-svg-suitcase {
  width: inherit !important;
  height: inherit !important;
  fill: #000001;
  stroke: none;
}

#logo-svg-shine {
  width: inherit !important;
  height: inherit !important;
  fill: #fffffe;
  /*stroke: #000001;
  stroke-width: 1px;*/
}

#menu {
  float: right;
  /*padding-right: 10px;*/
}

#menu-svg {
  width: 50px;
  height: 50px;
  fill: none;
  stroke: #000001;
  stroke-width: 2px;
}

form { }

input[type="text"] {
  display: block;
  margin: auto;
  width: 100%;
  text-overflow: ellipsis;
}

input[type="text"]:focus {
  border: 2px solid #000001;
}

input[type="date"], input[type="submit"] {
  display: inline;
  margin: auto;
  width: 33%;
}

input[type="text"], input[type="date"], input[type="submit"] {
  box-sizing: border-box;
  border: none;
  border-bottom: 2px double #000001;
  border-radius: 4pt;
  height: 24px;
}

input["submit"] {
  background: transparent;
}

#main {
  display: block;
  margin: auto;
  width: 90%;
  min-height: 470px;
  height: auto;
  max-height: 570px;
  /*background: teal;*/
}

@media only screen and (max-height: 735px) {
  #main {
    height: 575px;
    /*background: yellow;*/
  }
}

#map {
  display: inline;
  margin: 0px;
  width: 100%;
  height: inherit !important;
  /*background: red;*/
}

footer {
  width: 90%;
  margin: auto;
  /*background: green;*/
}

#navigation {
  display: block;
  margin: auto;
  position: fixed;
  bottom: 15px;
  padding: 0px !important;
  width: calc(50px * 5);
  width: 90%;
  z-index: 1;
  /*background: green;*/
}

.navItem {
  width: 50px;
  height: 50px;
  /*background: blue;*/
  /*border: 2px double #0000e7;*/
}

#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#infowindow-content {
  display: inline;
}

.pac-card {
  background-color: #eee;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  font-family: Roboto;
  padding: 0;
}
