body {
  width: 100%/*1170px*/;
  height: 100%/*2532px*/;
}

#logo, .menu, #menu {
  display: inline;
  width: 50px;
  height: 50px;
}

#menu {
  float: right;
  padding-right: 10px;
}

#main {
  display: block;
  margin: 10px;
  width: 370px;
  height: 485px;
}

@media only screen and (max-height: 735px) {
  #main {
    height: 575px;
  }
}

#stay > search {
  display: block;
  margin: auto;
  width: 1000px;
}

#stay > checkin, checkout, submit {
  display: inline;
}

#navigation {
  display: block;
  position: fixed;
  bottom: 10px;
  margin: auto;
  width: 372px;
}

.navItem {
  width: 65px;
  height: 65px;
  /*border: 2px double #0000e7;*/
}

#map {
  /* display: inline;*/
  margin: 0px;
  width: inherit !important;
  height: inherit !important;
}
